{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>
<body>
<h1>Hello</h1>
    <form action="" method="post">{% csrf_token %}
        <table border="0">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Number</td>
                <td><input type="text" name="number"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
                <td><input type="submit" value="Enter"></td>
            </tr>
        </table>
    </form>
    <hr>
    <table border="0">
        <tr>
            <td>姓名</td><td>工號</td><td>信箱</td><td>建立時間</td><td>更新時間</td>
        </tr>
    {% for member in member_data %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.number }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.created_date }}</td>
            <td>{{ member.updated_date }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>