{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>STC Task Management System: 新增項目</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-blue">
  <a href="/" class="w3-bar-item w3-button"><h4>Home</h4></a>>
  <a href="" class="w3-bar-item w3-button"><h4>SS</h4></a>
</div>

  <form class="w3-container">
    <p>
    <label>需求者姓名</label>
    <input class="w3-input" type="text"></p>
    <hr>
    <label>Function</label>
    <select class="w3-select" name="option">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">EMC</option>
      <option value="2">Safety</option>
      <option value="3">EA</option>
      <option value="4">Package</option>
      <option value="5">Structure</option>
      <option value="6">Thermal</option>
    </select>
    <hr>
    <label>Phone Number</label>
    <input class="w3-input" type="text"></p>
    <hr>
    <label>BU</label>
    <select class="w3-select" name="option">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">BU1</option>
      <option value="2">BU2</option>
      <option value="3">BU5</option>
      <option value="4">BU6</option>
      <option value="5">ETC</option>
      <option value="6">NIDC</option>
    </select>
    <hr>
    <label>Project Full Name</label>
    <select class="w3-select" name="option">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Test</option>
    </select>
    <hr>
    <label>Priority</label>
    <select class="w3-select" name="option">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Highest</option>
      <option value="2">High</option>
      <option value="3">Medium</option>
      <option value="4">Low</option>
      <option value="5">Lowest</option>
    </select>
    <hr>
    <label>QTY</label>
    <input class="w3-input" type="text"></p>
    <hr>
    <label>Configuration</label>
    <br>
    <input class="w3-radio" type="radio" name="gender" value="male" checked>
    <label>依申請者提供之機台</label>
    <br>
    <input class="w3-radio" type="radio" name="gender" value="female">
    <label>依附件說明（請上傳附件）</label>
    <br>
    <input class="w3-radio" type="radio" name="gender" value="">
    <label>指定您自己的值：<input class="w3-input" type="text"></p></label>
    <hr>
    
    <label class="container">
      <input type="checkbox" checked="checked"><font size="3">公司工作電腦升級/安裝Win8.1</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">System FW Version update (BIOS/BMC/CPLD/System Management)</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">Adapter FW Version update</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">OS, Driver and functional SW Installation</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">Sanity Test</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">Field Service and Follow Up</font>
      <span class="checkmark"></span>
    </label>
    <br>
    <label class="container">
      <input type="checkbox"><font size="3">指定您自己的值:</font>
      <span class="checkmark"></span>
      <input class="w3-input" type="text"></p>
    </label>
    

  </form>

</body>
</html>
